/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* General styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem;
}

img {
  max-width: 500px;
  height: 30%;
  /* height: auto; */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin: 0 0 1.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
}

.menu a {
  margin-right: 1rem;
  padding: 0 2.5rem;
}

/* blog page styling */

.blog-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.blog-description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-style: italic;
}

.blog-content {
  margin-bottom: 1rem;
}

/* form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 2.5rem;
}

label {
  margin-top: 20px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2d76f2;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu a {
    margin-right: 0;
    margin-bottom: 0.5rem;
    display: block;
  }
}
