<!DOCTYPE html>
<html>

<head>
  <title>My Blog</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
  <h1 class="title">Welcome to the Homepage</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum
    mauris vel enim iaculis, a luctus est euismod. Sed ac nulla lorem. Nam vel
    semper nisi. Ut tristique tellus sit amet orci malesuada, vel bibendum massa
    dapibus. In interdum blandit neque nec bibendum. Nullam id tortor vehicula,
    vehicula orci ut, blandit eros. Sed euismod libero sit amet nisi commodo
    vehicula. Vestibulum sit amet leo quis magna accumsan ultricies in nec quam.
    Etiam a convallis urna, vel consequat mi.</p>

  <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg"
    alt="Nature Image">

  <p>Integer pretium mauris vitae ligula elementum, vel faucibus elit interdum.
    Aenean tincidunt lorem a lacus malesuada, at commodo metus imperdiet.
    Vestibulum sit amet velit id nulla laoreet venenatis. Praesent a lacinia
    quam. Aliquam a urna rutrum, volutpat neque in, vulputate ex. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Fusce quis ex mauris. Vestibulum ac erat vitae mauris ultricies
    varius. Aliquam erat volutpat. Nunc consectetur elit id elit imperdiet
    aliquam. Donec vitae magna ac nisi faucibus suscipit ac eget magna.</p>

  <img src="https://images.pexels.com/photos/374856/pexels-photo-374856.jpeg"
    alt="City Image">



</body>

</html>
